*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
}

.container_fijo{
        background-color: var(--fondo_container_fijo);
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 100%;
}
.img_profile{
    border: 8px solid var(--borde_img_profile);
    border-radius: 100%;
    width: 100px;
}
.nombre{
    margin: 0;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    
}

.estudios{
    margin: 0;
    color: white;
    font-size: 1.2rem;   
}
.container_botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.botones{
    text-decoration: none;
    text-align: center;
}
.texto_boton{
    color: white;
    width: 300px;
    padding: 10px;
    border-radius: 2rem;
    background-color: rgb(59, 59, 59);
}
.texto_boton:hover{
    cursor: pointer;
    background-color: rgb(92, 92, 92);
}
.container_derecha{
    margin-left: 450px;
    display: flex;
    flex-direction: column;
}
.section{
    margin-top: 350px;
}
.introduccion_titulo{
    display: flex;
    align-items: center;
}
.titulo{
        color: white;
        font-size: 2rem;
        margin: 0;
}
.texto{
    color: white;
    font-size: 1.4rem;
}
.texto_verde{
    margin-left: 10px;
    color: lime;
}
.texto_informativo{
    color: rgb(172, 171, 171);
}
.texto_info{
    font-size: 0.8rem;
    color: rgb(172, 171, 171);
}
.container_botones_info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(59, 59, 59);
    border-radius: 2rem;
    width: 170px;
}
.container_botones_info:hover{
    cursor: pointer;
    background-color: rgb(208, 255, 1);
}
.iconos{
    font-size: 0.8rem;
    margin-left: 10px;
    color: var(--iconos);
}

.section_sobremi{
    margin-top: 350px;
}
.container_articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.informacion{
    max-width: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}
.separador_texto{
    display: flex;
    width: 270px;
    justify-content: start;
    
}
.texto_article{
    font-size: 1rem;
}
.texto_tarjetas{
    font-size: 1rem;
}
.tarjetas{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container_tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid rgb(36, 35, 35);
    background-color: rgb(36, 35, 35);
    width: 170px;
    height: 120px;
}
.texto_verde_tarjetas{
    margin-top: 20px;
}
/*Variables*/
:root{
    --fondo:rgb(19, 18, 18);
    --fondo_container_fijo:rgb(36, 35, 35);
    --borde_img_profile:rgb(17, 218, 17);
    --iconos:rgb(17, 218, 17);
}