*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_fijo{
        background-color: var(--fondo_container_fijo);
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
}
.img_profile{
    border: 5px solid var(--borde_img_profile);
    border-radius: 100%;
    width: 100px;
}
.nombre{
    margin: 0;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    
}

.estudios{
    margin: 0;
    color: white;
    font-size: 1.2rem;   
}
.container_botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.botones{
    text-decoration: none;
    text-align: center;
}
.texto_boton{
    color: white;
    width: 300px;
    padding: 10px;
    border-radius: 2rem;
    background-color: rgb(59, 59, 59);
}
/*Variables*/
:root{
    --fondo:black;
    --fondo_container_fijo:rgb(36, 35, 35);
    --borde_img_profile:rgb(17, 218, 17);
}